html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
    padding: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face{
    font-family: Kodchasan;
    src: url(src/Шрифт/Kodchasan/Kodchasan-Regular.ttf);
}
@font-face{
    font-family: Nunito;
    src: url(src/Шрифт/Nunito/Nunito-ExtraLight.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Общие стили */
* {
  box-sizing: border-box;
}
@media (max-width: 1100px) {
    /* Сетка main */
  .main_grid {
    grid-template-columns: repeat(1, 90%) !important;
    grid-template-rows: repeat(30%) !important;
    margin-bottom: 200px;
  }

  .main_grid > div {
    flex-direction: column !important;
  }

  .main_grid_grid-cell_text {
    order: 2;
  }

  .main_grid_grid-cell1,
  .main_grid_grid-cell2,
  .main_grid_grid-cell3 {
    grid-column: span 1 !important;
  }

  .main_grid_grid-cell4 {
    grid-column: span 1 !important;
  }

  .main_grid_grid-cell2 {
    grid-row: span 1 !important;
  }

  .main_grid_grid-cell_emoji {
    order: 1;
  }
    /* Алфавит */
  .main_grid-alphabet {
    grid-template-columns: repeat(3, 33%) !important;
    grid-template-rows: repeat(9, 200px) !important;
    gap: 15px !important;
  }

  .main_grid-alphabet_cell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .main_grid-alphabet_cell_half1 {
    flex-direction: column;
  }
  .empty-cell{
    display: none;
  }
  .main_grid-alphabet_cell_half1_bukva{
    margin-bottom: 10px;
  }
  .for-button-main{
    font-size:17px !important;
  }
  .main-exercise_grid {
    width: 95% !important;
  }


  .main-exercise_grid-item-cell:hover {
      transform: scale(1.005);
      box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
  }

  .main-exercise_grid-item-cell-expanding-block {
      height: 0;
      overflow: hidden;
      background-color: rgba(0, 123, 255, 0.1);
      border-radius: 0 0 30px 30px;
      margin-top: 0;
      transition: height 0.4s ease !important;
      display: flex;
      flex-direction: column;
      justify-content: space-around; 
      align-items: center !important;
      text-align: center;
  }

  .main-exercise_grid-item-cell-expanding-block-half {
      display: flex;
      flex-direction: column;
      width: 100% !important;
      height: 100%;
      padding: 1.5%;
      align-items: center !important;
  }

  .main-exercise_grid-item-cell-expanding-block-half-video {
      width: 90% !important;
      padding: 10px;
  }

  .main-exercise_grid-item.active .main-exercise_grid-item-cell {
      border-radius: 30px 30px 0 0;
  }
  .main-exercise_grid-item.active .main-exercise_grid-item-cell-expanding-block {
      height: fit-content !important;
  }

  .main-exercise_grid-item-cell-expanding-block-half-text_upper {
      font-size: 30px !important;
  }

  .main-exercise_grid-item-cell-expanding-block-half-button {
      width: 90% !important;
      height: 50px !important;
  }

  .exercise1,
  .exercise2,
  .exercise3,
  .exercise5 {
      width: 95% !important;
      grid-template-columns: repeat(2, 1fr)!important;
      grid-template-rows: auto auto auto !important;
  }
  
  .exercise1-screen,
  .exercise2-screen,
  .exercise3-screen,
  .exercise5-screen {
      grid-column: span 2 !important;
      font-size: 20px !important;
      padding: 20px 10px !important ;
      line-height: 1.4 !important;
      display: flex !important;
      align-items: center !important ;
      justify-content: center !important;
      text-align: center !important;
      height: 300px;
  }
  
  .exercise1-screen .blank,
  .exercise2-screen .blank {
      border-bottom: 1px dashed black !important;
      display: inline-block !important;
      min-width: 100px !important;
      text-align: center !important;
  }
  
  .exercise1-var,
  .exercise2-var,
  .exercise3-var{
      height: 60px !important;
      font-size: 18px !important;
  }
  .exercise5-var{
    height: 60px !important;
    font-size: 38px !important;
}
  
  #exercise1-var-var1,
  #exercise2-var-var1,
  #exercise3-var-var1,
  #exercise5-var-var1 {
      border-radius: 0 0 0 0 !important ;
  }
  #exercise1-var-var3,
  #exercise2-var-var3,
  #exercise3-var-var3,
  #exercise5-var-var3 {
      border-radius: 0 0 0 30px !important ;
  }

  #exercise1-var-var4,
  #exercise2-var-var4,
  #exercise3-var-var4,
  #exercise5-var-var4 {
      border-radius: 0 0 30px 0 !important;
  }
  
  .exercise1-next-question,
  .exercise2-next-question,
  .exercise3-next-question,
  .exercise5-next-question  {
      width: 90% !important;
  }
  .listen-area-text {
      font-size: 20px !important;
  }
  
  .exercise4 {
      width: 95% !important;
  }
  
  .main-faq {
      width: 90% !important;
  }
  #main-teory-cell2{
      grid-row: span 1 !important;
  }
  #main-teory-cell6{
      grid-row: span 1 !important;
      grid-column:span 2;
  }
  #main-teory-cell8{
      grid-row: span 1 !important;
  }
  #main-teory-cell9{
      grid-column: span 2 !important;
  }
  #main-teory-cell3{
      grid-column: span 2;
  }
  /* Основная сетка */
  .main-teory {

      width: 93% !important;
      grid-template-columns: repeat(2, 48%) !important;
      grid-template-rows: repeat(6, 200px) !important;
      gap: 10px !important;
  }
  
  /* Заголовок темы */
  .cell-title {
      font-size: 17px !important; 
      transition: all 0.3s ease;
      text-wrap: wrap;
  }
  
}
body, html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  background-color: #ecf7ff;
  flex: 1;
  text-align: center;
}

/* Фоны */
body.boy {
  background: linear-gradient(45deg, #e0fcdc 0%, #ccf1ff 100%);
}

body.girl {
  background: linear-gradient(-45deg, #e0fcdc 0%, #fbccff 100%);
}

/* Хедер и футер */
header, footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  text-transform: none;
}

footer {
  margin-top: 50px;
  flex-shrink: 0;
}

/* Логотипы */
.header_logo, .footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.header_logo img {
  width: 10%;
}

.header_logo_logo-text {
  font-family: Kodchasan;
  font-size: 40px;
}

.footer_logo_logo-text {
  font-family: Kodchasan;
  font-size: 30px;
}

/* Основной контент */
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
  flex: 1 0 auto;
}

.main_upper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.main_upper-text h1 {
  font-size: 30px;
}
.main_upper-text a {
  display: block;
  width: 300px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 24px;
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
  transition: all 0.3s ease;
}
.main_upper-text a:hover{
  transform: scale(1.005);
  box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
}
.main-text{
    text-transform: none;
}
/* Сетка main */
.main_grid {
  display: grid;
  grid-template-columns: repeat(4, 15%);
  grid-template-rows: repeat(3, 30%);
  gap: 20px;
  margin-top: 50px;
  justify-content: center;
}

.main_grid > div {
  background-color: white;
  border-radius: 30px;
  padding: 30px;  
  box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
  transition: 0.3s all ease-in-out;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.main_grid_grid-cell_text {
  font-size: 25px;
}

.main_grid_grid-cell1,
.main_grid_grid-cell2,
.main_grid_grid-cell3 {
  grid-column: span 2;
}


.main_grid_grid-cell1 {
  animation: cell 1s ease forwards;
  opacity: 0;
}

.main_grid_grid-cell2 {
  grid-row: span 2;
  flex-direction: column;
  animation: cell 1s ease 0.2s forwards;
  opacity: 0;
}

.main_grid_grid-cell3 {
  animation: cell 1s ease 0.4s forwards;
  opacity: 0;
}

.main_grid_grid-cell4 {
  grid-column: span 4;
  animation: cell 1s 0.6s ease forwards;
  opacity: 0;
}

@keyframes cell {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


.main_grid_grid-cell1:hover,
.main_grid_grid-cell2:hover,
.main_grid_grid-cell3:hover,
.main_grid_grid-cell4:hover {
  transform: scale(1.005);
  box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
}

.main_grid_grid-cell_emoji {
  font-size: 150px;
}

/* Алфавит */
.main_grid-alphabet {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 200px);
  gap: 30px;
  margin-top: 50px;
  align-self: center;
  justify-content: center;
  text-transform: none;
}

.main_grid-alphabet_cell {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px -1px rgba(143, 141, 143, 1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}

.main_grid-alphabet_cell:hover {
  transform: perspective(1000px) rotateX(8deg) rotateY(-8deg) scale(1.05);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.main_grid-alphabet_cell_half1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-family: Kodchasan;
}

.main_grid-alphabet_cell_half1_bukva {
  font-size: 40px;
  font-weight: 600;
}

.main_grid-alphabet_cell_half1_trans {
  font-size: 20px;
  font-weight: 200;
  color: gray;
}

/* Слайдер */
.slider {
  position: relative;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ukaz {
  position: absolute;
  background-image: url('src/лево.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  background-position: center;
  transition: background-image 0.4s ease;
}

.ukaz:hover {
  animation: ukazh 2s ease infinite;
}

.slider input:checked + .ukaz {
  background-image: url('src/право.png');
}

.slider input:checked + .ukaz:hover {
  animation: ukazh1 2s ease infinite;
}

/* Анимации */
@keyframes ukazh {
  0%, 100% { transform: translate(5px, 0); }
  50% { transform: translate(0, 0); }
}

@keyframes ukazh1 {
  0%, 100% { transform: translate(-5px, 0); }
  50% { transform: translate(0, 0); }
}

/* Кнопочный блок */
.for-button,
.for-button-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.for-button {
  flex-direction: column;
  color: gray;
  font-size: 15px;
}

.for-button-main {
  font-size: 30px;
  color: black;
  padding-bottom: 20px;
}
.main-exercise_grid {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 30px;
    align-self: center;
    justify-content: center;
    text-align: left;
}

.main-exercise_grid-item {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.main-exercise_grid-item-cell,
.exercise1-screen,
.exercise2-screen,
.exercise3-screen,
.exercise5-screen{
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
    transition: all 0.3s ease-in-out;
}

.main-exercise_grid-item-cell {
    height: 100px;
    padding: 30px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    text-align: center;
}

.main-exercise_grid-item-cell:hover {
    transform: scale(1.005);
    box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
}

.main-exercise_grid-item-cell-expanding-block {
    height: 0;
    overflow: hidden;
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 0 0 30px 30px;
    margin-top: 0;
    transition: height 0.4s ease;
    z-index: 98;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-exercise_grid-item-cell-expanding-block-half {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 1.5%;
}

.main-exercise_grid-item-cell-expanding-block-half-video {
    width: 450px;
}
video{
  border-radius: 30px;
}

.main-exercise_grid-item.active .main-exercise_grid-item-cell {
    border-radius: 30px 30px 0 0;
}

.main-exercise_grid-item.active .main-exercise_grid-item-cell-expanding-block {
    height: 300px;
}

.main-exercise_grid-item-cell-expanding-block-half-text_upper {
    font-size: 50px;
    font-weight: 600;
}

.main-exercise_grid-item-cell-expanding-block-half-text_supper {
    font-size: 30px;
    text-transform: none;
    padding: 2%;
}

.main-exercise_grid-item-cell-expanding-block-half-button {
    width: 60%;
    height: 30%;
    background-color: white;
    box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
    border-radius: 30px;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.main-exercise_grid-item-cell-expanding-block-half-button:hover {
    font-size: 33px;
    box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
}
.exercise1,
.exercise2,
.exercise3,
.exercise5 {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: 350px 50px;
    align-self: center;
    justify-content: center;
    text-transform: uppercase;
}

.exercise1-screen,
.exercise2-screen,
.exercise3-screen,
.exercise5-screen {
    grid-column: span 4;
    text-align: center;
    z-index: 0;
    border-radius: 30px 30px 0 0;
}

.exercise1-screen .blank,
.exercise2-screen .blank,
.exercise3-screen .blank,
.exercise5-screen .blank {
    border-bottom: 1px dashed black;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.exercise1-screen img,
.exercise2-screen img,
.exercise3-screen img,
.exercise5-screen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    padding: 20px;
}

.exercise1-var,
.exercise2-var,
.exercise3-var,
.exercise5-var {
    background-color: white;
    text-align: center;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.exercise5-var {
    background-color: white;
    text-align: center;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

#exercise1-var-var1,
#exercise2-var-var1,
#exercise3-var-var1,
#exercise5-var-var1 {
    border-radius: 0 0 0 30px;
}

#exercise1-var-var4,
#exercise2-var-var4,
#exercise3-var-var4,
#exercise5-var-var4 {
    border-radius: 0 0 30px 0;
    
}

.exercise1-var:hover,
.exercise2-var:hover,
.exercise3-var:hover {
    background-color: rgb(215, 221, 196);
    font-size: 21px;
    z-index: 999;
}
.exercise5-var:hover{
    font-size: 43px;
}
.exercise1-var.correct,
.exercise2-var.correct,
.exercise3-var.correct,
.exercise5-var.correct {
    background-color: #4CAF50;
    color: white;
}

.exercise1-var.incorrect,
.exercise2-var.incorrect,
.exercise3-var.incorrect,
.exercise5-var.incorrect {
    background-color: #F44336;
    color: white;
}

.exercise1-var.correct:hover,
.exercise1-var.incorrect:hover,
.exercise2-var.correct:hover,
.exercise2-var.incorrect:hover,
.exercise3-var.correct:hover,
.exercise3-var.incorrect:hover,
.exercise5-var.correct:hover,
.exercise5-var.incorrect:hover  {
    background-color: inherit;
    cursor: not-allowed;
}

.exercise1-next-question,
.exercise2-next-question,
.exercise3-next-question,
.exercise5-next-question {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 30px;
    background-color: white;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
    margin-bottom: 100px;
    opacity: 0.5;
    pointer-events: none;
    transform: scale(0.98);
}

.exercise1-next-question.active,
.exercise2-next-question.active,
.exercise3-next-question.active,
.exercise5-next-question.active {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
}

.exercise1-next-question:hover.active,
.exercise2-next-question:hover.active,
.exercise3-next-question:hover.active,
.exercise5-next-question:hover.active {
    transform: scale(1.005);
}

.listen-area-text {
    font-size: 30px;
    transition: color 0.3s ease;
}

.listen-area-text.speaking {
    animation: pulseText 1s infinite;
}

@keyframes pulseText {
    0% { color: #333; }
    50% { color: #888; }
    100% { color: #333; }
}
.main_upper-text > p {
    color: grey;
}
.exercise3-screen img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  padding: 20px;
}
.emoji-display {
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.emoji-display5 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
.exercise4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    width: 50%;
    height: 500px;
    box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
}

.exercise4-screen {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.exercise4-buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.exercise4-button {
    display: flex;
    background-color: white;
    color: rgb(0, 0, 0);
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: all ease 0.3s;
    box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
}

.exercise4-button:hover {
    box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
    transform: scale(1.005);
}

.exercise4-feedback {
    font-size: 25px;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.exercise4-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    width: 90%;
    height: 70px;
    font-size: 25px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
}

.exercise4-next:hover {
  box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
  transform: scale(1.005);
}

.main-faq {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1000px;
    margin: 50px auto;
}

.main-faq-item {
    margin: 12px 0;
    border-radius: 20px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.05);
    background: white;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid #e0e0e0;
    transform: scale(1.005);
    box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
}

.main-faq-item:hover {
    transform: scale(1.005);
    box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
}

.main-faq-question {
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}


.faq-arrow {
    font-size: 24px;
    transition: transform 0.3s ease;
}

.main-faq-item.active .faq-arrow {
    transform: rotate(180deg);
}

.main-faq-answer-text {
    padding: 0 20px;
    font-size: 18px;
    color: black;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, padding 0.4s ease, opacity 0.4s ease;
    text-align: left;
}
.main-faq-item.active .main-faq-item{
    transform: scale(1.005);
    box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
}
.main-faq-item.active .main-faq-answer-text {
    max-height: 500px;
    padding: 20px;
    opacity: 1;
    
}

#main-teory-cell2{
    grid-row: span 2;
}
#main-teory-cell6{
    grid-row: span 2;
}
#main-teory-cell8{
    grid-row: span 2;
}

/* Основная сетка */
.main-teory {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 200px);
    gap: 30px;
    margin: 50px auto 0 auto;
    position: relative;
}

/* Карточки */
.main-teory-cell {
    box-shadow: 0 0 10px 0px rgb(121, 146, 129) ;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}
.main-teory-cell:hover{
    transform: scale(1.005);
    box-shadow: 0 0 20px 0px rgb(113, 134, 120) ;
}
/* Заголовок темы */
.cell-title {
    font-size: 30px;
    transition: all 0.3s ease;
}

/* Скрытая информация */
.hidden-info {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
    text-align: center;
    max-height: 300px;  /* Ограничение по высоте */
    overflow-y: auto;   /* Добавляем вертикальный скролл */
}

/* Раскрытая карточка */
.main-teory-cell.expand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  /* Выравнивание элементов по левому краю */
    justify-content: flex-start;  /* Выравнивание содержимого по верхнему краю */
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/* Заголовок при раскрытии */
.main-teory-cell.expand .cell-title {
    font-size: 36px;
    align-self: flex-start;
    margin-bottom: 20px;  /* Отступ от содержимого */
    padding-top: 0;  /* Убираем лишние отступы сверху */
}

/* Описание при раскрытии */
.main-teory-cell.expand .hidden-info {
    opacity: 1;
    visibility: visible;
    font-size: 20px;
    text-align: left;
    flex: 1;
    max-height: none;  /* Убираем ограничение высоты при раскрытии */
    overflow-y: auto;  /* Скролл при большом содержимом */
}

/* Затемнение фона */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}
